@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));
@source "../../../packages/ui/src/**/*.{ts,tsx}";
@import "../../../packages/theme/index.css";

body {
  font-family: var(--font-poppins);
}

button,
a {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.react-tel-input .flag-dropdown {
  border-radius: 6px 0 0 6px !important;
}

.react-tel-input .flag-dropdown:hover {
  border-radius: 6px 0 0 6px !important;
}

.react-tel-input .selected-flag {
  border-radius: 6px 0 0 6px !important;
}

html,
body {
  overflow-wrap: break-word;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  overflow-wrap: anywhere;
}